<html>
  {{template "purple.tmpl.html"}}
<body>
  <div class="purple-box u-padding-Al">
    <h3>AWS Account Settings for your Teams</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Team</th>
          <th>Linked AWS Account</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{ range .orgs }}
          <tr>
            <td>{{ .Organization.Name }}</td>
            {{ if .HasAccount }}
              <td>
                  {{ .AWSAccessKeyId }}
              </td>
              <td>
                <a href="{{ .Organization.Id }}/unlink" class="btn btn-danger">Unlink</a>
              </td>
            {{ else }}
              <td>
              </td>
              <td>
                <a href="{{ .Organization.Id }}/link" class="btn btn-default">Link</a>
              </td>
            {{ end }}
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>

  {{template "bottomjs.tmpl.html"}}
</body>
</html>
